@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

@import url('components/board.css');
@import url('components/blocks.css');
@import url('components/keys.css');
@import url('components/player.css');
@import url('components/animation.css');
@import url('components/menu.css');
@import url('components/tent.css');
@import url('components/tree.css');
@import url('components/portal.css');
@import url('components/modal.css');
@import url('components/combat.css');
@import url('components/bar.css');

:root {
  --border-radius: .2em;
  --iso-animation-time: .8s;
  --outline: .1em;
  --shadow-color: rgb(141,189,107);
  --white: floralwhite;
  --lightgray: antiquewhite;
  --gray: tan;
  --black: rgb(70, 70, 70);
  --player-size: 30%;
  --player-color: radial-gradient(rgba(211, 211, 211, .7) 20%, rgba(169, 169, 169, .7) 58%, rgba(255, 255, 255, .7));
  --player-color-dark: radial-gradient(rgba(169, 169, 169, .7) 20%, rgba(105, 105, 105, .7) 58%, rgba(211, 211, 211, .7));
  --turn-animation-time: 1s;
  --spacing: .8em
}

* {
  font-family: "Geo", system-ui ,sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(lightblue, darkcyan 70%);
  height: 100vh;
  overflow: hidden;
}

.iso {
  transform: rotateX(45deg) rotate(45deg);
}

h1 {
  padding: 0;
  margin: 0;
}
