@import url('components/board.css');
@import url('components/blocks.css');
@import url('components/keys.css');
@import url('components/player.css');
@import url('components/animation.css');
@import url('components/menu.css');
@import url('components/tent.css');
@import url('components/tree.css');
@import url('components/portal.css');
@import url('components/modal.css');
@import url('components/combat.css');
@import url('components/bar.css');
@import url('components/icons.css');
@import url('components/night.css');
@import url('components/swal-custom.css');

@font-face {
  font-family: "DotGothic16";
  src: url("fonts/DotGothic16/DotGothic16-Regular.ttf");
}
@font-face {
  font-family: "Jersey 15";
  src: url("fonts/Jersey_15/Jersey15-Regular.ttf");
}
@font-face {
  font-family: "ZCOOL QingKe HuangYou";
  src: url("fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

/* @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Jersey+15&family=ZCOOL+QingKe+HuangYou&display=swap'); */

:root {
  --border-radius: .2em;
  --iso-animation-time: .8s;
  --outline: 2px;
  --color-floor: lightgreen;
  --color-floor-low: wheat;
  --shadow-color: rgb(141,189,107);
  --shadow-color-low: rgb(195 169 122);
  --white: floralwhite;
  --lightgray: antiquewhite;
  --gray: tan;
  --black: rgb(70, 70, 70);
  --player-size: 100%;
  --player-color: radial-gradient(rgba(211, 211, 211, .7) 20%, rgba(169, 169, 169, .7) 58%, rgba(255, 255, 255, .7));
  --player-color-dark: radial-gradient(rgba(169, 169, 169, .7) 20%, rgba(105, 105, 105, .7) 58%, rgba(211, 211, 211, .7));
  --turn-animation-time: 1s;
  --spacing: .8em;
  --text-outline: 1px -2px var(--black),
                  1px -1px var(--black),
                  1px 0 var(--black),
                  1px 1px var(--black), 
                  1px 2px var(--black),

                  2px 2px var(--black), 
                  2px 1px var(--black), 
                  2px 0 var(--black),
                  2px -1px var(--black),
                  2px -2px var(--black),

                  0 -2px var(--black),
                  0 -1px var(--black),
                  0 1px var(--black),
                  0 2px var(--black),

                  -1px -2px var(--black),
                  -1px -1px var(--black),
                  -1px 0 var(--black),
                  -1px 1px var(--black),
                  -1px 2px var(--black),

                  -2px -2px var(--black),
                  -2px -1px var(--black),
                  -2px 0 var(--black),
                  -2px 1px var(--black),
                  -2px 2px var(--black);
  --text-outline-white: 
                  1px -2px white,
                  1px -1px white,
                  1px 0 white,
                  1px 1px white, 
                  1px 2px white,

                  2px 2px white, 
                  2px 1px white, 
                  2px 0 white,
                  2px -1px white,
                  2px -2px white,

                  0 -2px white,
                  0 -1px white,
                  0 1px white,
                  0 2px white,

                  -1px -2px white,
                  -1px -1px white,
                  -1px 0 white,
                  -1px 1px white,
                  -1px 2px white,

                  -2px -2px white,
                  -2px -1px white,
                  -2px 0 white,
                  -2px 1px white,
                  -2px 2px white;
  --outline-board:  drop-shadow(-.5px -.5px 0 white) 
                    drop-shadow(.5px .5px 0 white) 
                    drop-shadow(.5px -.5px 0 white) 
                    drop-shadow(-.5px .5px 0 white);
  --outline-high-box: drop-shadow(-.5px -.5px 0 orange) 
                      drop-shadow(.5px .5px 0 orange) 
                      drop-shadow(.5px -.5px 0 orange) 
                      drop-shadow(-.5px .5px 0 orange);
  --outline-box:  drop-shadow(-.5px -.5px 0 var(--gray)) 
                  drop-shadow(.5px .5px 0 var(--gray)) 
                  drop-shadow(.5px -.5px 0 var(--gray)) 
                  drop-shadow(-.5px .5px 0 var(--gray));
}

* {
  /* font-family: "DotGothic16", sans-serif; */
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  align-content: center;
  background: radial-gradient(lightblue, teal 70%);
  overflow: hidden;
}

.iso {
  transform: rotateX(45deg) rotate(45deg);
}

h1 {
  padding: 0;
  margin: 0;
}

#clock {
	object-fit: contain;
	display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hide,
[v-cloak] {
  display: none !important;
}