<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="style.css">
  <title>Vue WASD</title>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
</head>
<body>
  <div id="app">
    <table id="board" :class="board.isoView ? 'iso' : ''">
      <tr v-for="y in board.height">
        <td v-for="x in board.width" :id="`${x}-${y}`" v-html="tileContent({x: x, y: y})" :style="`z-index: ${x+y}`"></td>
      </tr>
    </table>
    <div id="keys-display" :class="board.isoView ? 'iso' : ''">
      <button id="q-key">Q<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="w-key">W<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="e-key">E<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="a-key">A<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="s-key">S<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="d-key">D<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
    </div>
  </div>
  <!-- <script src="lib/projects.js" type="module"></script> -->
  <script src="lib/board.js" type="module"></script>
</body>
</html>
