<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Vue WASD</title>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
</head>
<body>
  <div id="app">
    <div id="menu">
      <h1>Menu</h1>
      <hr>
      <ul>
        <li><a href="#">item 1</a></li>
        <li><a href="#">item 2</a></li>
        <li><a href="#">item 3</a></li>
        <li><a href="#">item 4</a></li>
      </ul>
    </div>
    <div id="board-container">
      <table id="board" :class="board.isoView ? 'iso' : ''">
        <tr v-for="y in board.height">
          <td v-for="x in board.width" :id="`${x}-${y}`" v-html="tileContent({x: x, y: y})" :style="`z-index: ${x+y}`"></td>
        </tr>
      </table>
    </div>
    <div id="keys-display" :class="board.isoView ? 'iso' : ''">
      <button id="q-key" v-on:click="move('q')" >Q<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="w-key" v-on:click="move('w')">W<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="e-key" v-on:click="move('e')">E<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="a-key" v-on:click="move('a')">A<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="s-key" v-on:click="move('s')">S<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="d-key" v-on:click="move('d')">D<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
    </div>
  </div>
  <div class="modal"></div>
  <div class="bg"></div>
  <!-- <script src="lib/projects.js" type="module"></script> -->
  <script src="lib/board.js" type="module"></script>
</body>
</html>
