<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b6f21dd2ae.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Vue WASD</title>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
</head>
<body>
  <div id="app">
    <div id="menu">
      <div class="job"><img v-bind:src="'/images/' + player.job + '-icon.png'"><p>[ {{player.job}} ] - <span><small>lvl</small><span class="lvl-number">{{player.lvl}}</span></span></p></div>
      <div class="bar-container">
        <i class="fa-solid fa-heart"></i><span class="bar"><span class="bar-fill" :style="`width: ${remainingHP(player)}%`"></span></span>
      </div>
      <div class="bar-container">
        <i class="fa-solid fa-book"></i><span class="bar"><span class="bar-fill" :style="`width: ${player.xp}%`"></span></span>
      </div>
      <div>
        <button v-on:click="expand" :class="`stats-title ${player.points > 0 ? 'points-available' : ''}`">attributes{{player.points > 0 ? `(${player.points})` : ''}}</button>
        <table class="stats-table">
          <tr v-for="attr in Object.keys(player.attributes)"><th>{{attr}}</th><td><p>{{player.attributes[attr]}}</p><button class="plus-btn" v-on:click="updateAttribute(attr)"><i class="fa-solid fa-circle-plus"></i></button></td></tr>
        </table>
      </div>
    </div>
    <p class="floor-display"><small>floor.</small><span>{{floor}}</span></p>
    <div id="board-container">
      <table id="board" :class="board.isoView ? 'iso' : ''">
        <tr v-for="y in board.height">
          <td v-for="x in board.width" :id="`${x}-${y}`" v-html="tileContent({x: x, y: y})" :style="`z-index: ${x+y}; animation-delay: ${Math.sqrt(x/y)}s`"></td>
        </tr>
      </table>
    </div>
    <div id="keys-display" :class="board.isoView ? 'iso' : ''">
      <button id="q-key" v-on:click="move('q')" >Q<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="w-key" v-on:click="move('w')">W<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="e-key" v-on:click="move('e')">E<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="a-key" v-on:click="move('a')">A<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="s-key" v-on:click="move('s')">S<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
      <button id="d-key" v-on:click="move('d')">D<div class="key-walls"><div class="r-wall"></div><div class="l-wall"></div></div></button>
    </div>
    <div class="modal">
      <div class="modal-content-cty">
        <div class="modal-header-cty bg-dark">
          <h4 class="modal-title text-white">Battle!</h4>
          <button type="button" class="btn-close-white" aria-label="Close"><i class="fas fa-times-circle"></i></button>
        </div>
        <div class="modal-body">
          <p class="turn-count"><small>turn {{turnCount}}</small></p>
          <div class="enemy-container">
            <div id="enemy-stats">
              <div class="bar-container">
                <i class="fa-solid fa-heart"></i><span class="bar"><span class="bar-fill" :style="`width: ${remainingHP(enemy)}%`"></span></span>
              </div>
              <div class="job"><img v-bind:src="'/images/' + enemy.job + '-icon.png'"><p>{{enemy.job}}</p></div>
            </div>
            <div id="enemy-model">
              <p :class="player.turnDamage == 'miss' ? 'miss' : 'damage'">{{player.turnDamage}}</p>
              <img v-bind:src="'/images/' + enemy.job + '.png'">
            </div>
          </div>
          <div class="player-container">
            <div id="player-model">
              <p :class="enemy.turnDamage == 'miss' ? 'miss' : 'damage'">{{enemy.turnDamage}}</p>
              <img v-bind:src="'/images/' + player.job + '.png'">
            </div>
            <div id="player-stats">
              <div class="bar-container">
                <i class="fa-solid fa-heart"></i><span class="bar"><span class="bar-fill" :style="`width: ${remainingHP(player)}%`"></span></span>
              </div>
              <div class="job"><img v-bind:src="'/images/' + player.job + '-icon.png'"><p>{{player.job}}</p></div>
            </div>
          </div>
        </div>
        <div class="modal-footer-cty bg-dark">
          <button id="atk-btn" v-on:click="combatTurn()">Attack</button>
          <button>Run</button>
        </div>
      </div>
    </div>
    <div class="bg"></div>
  </div>
  <!-- <script src="lib/projects.js" type="module"></script> -->
  <script src="lib/board.js" type="module"></script>
</body>
</html>
