@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@import url('css/board.css');
@import url('css/blocks.css');
@import url('css/keys.css');
@import url('css/player.css');

:root {
  --border-radius: .2em;
  --iso-animation-time: .8s;
  --outline: 2px;
  --shadow-color: rgba(110,180,100,1);
  --white: floralwhite;
  --lightgray: antiquewhite;
  --gray: tan;
  --player-size: 75%;
}

body {
  padding: 0;
  margin: 0;
  background: radial-gradient(lightblue, darkcyan 70%);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.iso {
  transform: rotateX(45deg) rotateZ(45deg);
}
