/* Modal Animation */

@keyframes show {
  0%   {opacity: 0; transform: translateY(-10%)}
  20%  {opacity: 0.2;}
  40%  {opacity: 0.4;}
  60%  {opacity: 0.6;}
  80%  {opacity: 0.8;}
  100% {opacity: 1; transform: translateY(0)}
}

@keyframes combat-intro {
  0%   {filter: brightness(0)}
  100% {filter: brightness(1)}
}

/* Board Animations */

@keyframes show-blocks {
  0%   {opacity: 0; transform: translate(-30%, -30%)}
  100% {opacity: 1; transform: translate(0, 0)}
}

@keyframes heart-show-iso {
  0%   {opacity: 0; transform: translate(0%, 0%) rotate(-45deg) scaleY(1.5)}
  50%  {opacity: 1; transform: translate(-200%, -200%) rotate(-45deg) scaleY(1.5)}
  100% {opacity: 0;}
}

@keyframes heart-show {
  0%   {opacity: 0;}
  50%  {opacity: 1; transform: scale(1.5)}
  100% {opacity: 0;}
}

@keyframes portal {
  0%   { filter: hue-rotate(0); transform: scale(1.05); }
  25%  { filter: hue-rotate(180deg); transform: scale(1); }
  50%  { filter: hue-rotate(360deg); transform: scale(1.05); }
  75%  { filter: hue-rotate(180deg); transform: scale(1); }
  100% { filter: hue-rotate(0); transform: scale(1.05); }
}

@keyframes ascend {
  0%   { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-15%); background-color: rgba(255, 255, 255, 0.5); box-shadow: 0 0 0 0 white; }
  70%  { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%); background-color: rgba(255, 255, 255, 0.75); box-shadow: 0 0 1em 1em rgba(255,255,255,.6); }
  80% { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%); background-color: white; box-shadow: 0 0 1em 0 white;}
  100% { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-500%) scale(0);}
}

@keyframes land {
  0%   { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%) scale(0); }
  15%   { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%); box-shadow: 0 0 1em 0 white;  opacity: 1;}
  30%  { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%); opacity: 1;}
  100% { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-15%); opacity: 1;}
}

@keyframes land-night {
  0%   { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%) scale(0); }
  15%   { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%); box-shadow: 0 0 1em 0 white;  opacity: 1;}
  30%  { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-200%); box-shadow: 0 0 1em 1em rgba(255,255,255,.6);  opacity: 1;}
  100% { transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(-15%);  opacity: 1;}
}

@keyframes land-shadow {
  0%    { background: radial-gradient(var(--shadow-color) 0%, var(--color-floor) 0%);}
  47%   { background: radial-gradient(var(--shadow-color) 0%, var(--color-floor) 1%);}
  48%   { background: radial-gradient(var(--shadow-color) 0%, var(--color-floor) 2%);}
  49%   { background: radial-gradient(var(--shadow-color) 0%, var(--color-floor) 3%);}
  50%   { background: radial-gradient(var(--shadow-color) 0%, var(--color-floor) 4%);}
  51%   { background: radial-gradient(var(--shadow-color) 1%, var(--color-floor) 5%);}
  52%   { background: radial-gradient(var(--shadow-color) 2%, var(--color-floor) 6%);}
  53%   { background: radial-gradient(var(--shadow-color) 3%, var(--color-floor) 7%);}
  54%   { background: radial-gradient(var(--shadow-color) 4%, var(--color-floor) 8%);}
  55%   { background: radial-gradient(var(--shadow-color) 5%, var(--color-floor) 9%);}
  56%   { background: radial-gradient(var(--shadow-color) 6%, var(--color-floor) 10%);}
  57%   { background: radial-gradient(var(--shadow-color) 7%, var(--color-floor) 11%);}
  58%   { background: radial-gradient(var(--shadow-color) 8%, var(--color-floor) 12%);}
  59%   { background: radial-gradient(var(--shadow-color) 9%, var(--color-floor) 13%);}
  60%   { background: radial-gradient(var(--shadow-color) 10%, var(--color-floor) 14%);}
  61%   { background: radial-gradient(var(--shadow-color) 11%, var(--color-floor) 15%);}
  62%   { background: radial-gradient(var(--shadow-color) 12%, var(--color-floor) 16%);}
  63%   { background: radial-gradient(var(--shadow-color) 13%, var(--color-floor) 17%);}
  64%   { background: radial-gradient(var(--shadow-color) 14%, var(--color-floor) 18%);}
  65%   { background: radial-gradient(var(--shadow-color) 15%, var(--color-floor) 19%);}
  66%   { background: radial-gradient(var(--shadow-color) 16%, var(--color-floor) 20%);}
  67%   { background: radial-gradient(var(--shadow-color) 17%, var(--color-floor) 21%);}
  68%   { background: radial-gradient(var(--shadow-color) 18%, var(--color-floor) 22%);}
  69%   { background: radial-gradient(var(--shadow-color) 19%, var(--color-floor) 23%);}
  70%   { background: radial-gradient(var(--shadow-color) 20%, var(--color-floor) 24%);}
  71%   { background: radial-gradient(var(--shadow-color) 21%, var(--color-floor) 25%);}
  72%   { background: radial-gradient(var(--shadow-color) 22%, var(--color-floor) 26%);}
  73%   { background: radial-gradient(var(--shadow-color) 23%, var(--color-floor) 27%);}
  74%   { background: radial-gradient(var(--shadow-color) 24%, var(--color-floor) 28%);}
  75%   { background: radial-gradient(var(--shadow-color) 25%, var(--color-floor) 29%);}
  76%   { background: radial-gradient(var(--shadow-color) 26%, var(--color-floor) 30%);}
  77%   { background: radial-gradient(var(--shadow-color) 27%, var(--color-floor) 31%);}
  78%   { background: radial-gradient(var(--shadow-color) 28%, var(--color-floor) 32%);}
  79%   { background: radial-gradient(var(--shadow-color) 29%, var(--color-floor) 33%);}
  80%   { background: radial-gradient(var(--shadow-color) 30%, var(--color-floor) 34%);}
  100%  { background: radial-gradient(var(--shadow-color) 30%, var(--color-floor) 34%);}
}

@keyframes land-shadow-low {
  0%    { background: radial-gradient(var(--shadow-color-low) 0%, var(--color-floor-low) 0%);}
  47%   { background: radial-gradient(var(--shadow-color-low) 0%, var(--color-floor-low) 1%);}
  48%   { background: radial-gradient(var(--shadow-color-low) 0%, var(--color-floor-low) 2%);}
  49%   { background: radial-gradient(var(--shadow-color-low) 0%, var(--color-floor-low) 3%);}
  50%   { background: radial-gradient(var(--shadow-color-low) 0%, var(--color-floor-low) 4%);}
  51%   { background: radial-gradient(var(--shadow-color-low) 1%, var(--color-floor-low) 5%);}
  52%   { background: radial-gradient(var(--shadow-color-low) 2%, var(--color-floor-low) 6%);}
  53%   { background: radial-gradient(var(--shadow-color-low) 3%, var(--color-floor-low) 7%);}
  54%   { background: radial-gradient(var(--shadow-color-low) 4%, var(--color-floor-low) 8%);}
  55%   { background: radial-gradient(var(--shadow-color-low) 5%, var(--color-floor-low) 9%);}
  56%   { background: radial-gradient(var(--shadow-color-low) 6%, var(--color-floor-low) 10%);}
  57%   { background: radial-gradient(var(--shadow-color-low) 7%, var(--color-floor-low) 11%);}
  58%   { background: radial-gradient(var(--shadow-color-low) 8%, var(--color-floor-low) 12%);}
  59%   { background: radial-gradient(var(--shadow-color-low) 9%, var(--color-floor-low) 13%);}
  60%   { background: radial-gradient(var(--shadow-color-low) 10%, var(--color-floor-low) 14%);}
  61%   { background: radial-gradient(var(--shadow-color-low) 11%, var(--color-floor-low) 15%);}
  62%   { background: radial-gradient(var(--shadow-color-low) 12%, var(--color-floor-low) 16%);}
  63%   { background: radial-gradient(var(--shadow-color-low) 13%, var(--color-floor-low) 17%);}
  64%   { background: radial-gradient(var(--shadow-color-low) 14%, var(--color-floor-low) 18%);}
  65%   { background: radial-gradient(var(--shadow-color-low) 15%, var(--color-floor-low) 19%);}
  66%   { background: radial-gradient(var(--shadow-color-low) 16%, var(--color-floor-low) 20%);}
  67%   { background: radial-gradient(var(--shadow-color-low) 17%, var(--color-floor-low) 21%);}
  68%   { background: radial-gradient(var(--shadow-color-low) 18%, var(--color-floor-low) 22%);}
  69%   { background: radial-gradient(var(--shadow-color-low) 19%, var(--color-floor-low) 23%);}
  70%   { background: radial-gradient(var(--shadow-color-low) 20%, var(--color-floor-low) 24%);}
  71%   { background: radial-gradient(var(--shadow-color-low) 21%, var(--color-floor-low) 25%);}
  72%   { background: radial-gradient(var(--shadow-color-low) 22%, var(--color-floor-low) 26%);}
  73%   { background: radial-gradient(var(--shadow-color-low) 23%, var(--color-floor-low) 27%);}
  74%   { background: radial-gradient(var(--shadow-color-low) 24%, var(--color-floor-low) 28%);}
  75%   { background: radial-gradient(var(--shadow-color-low) 25%, var(--color-floor-low) 29%);}
  76%   { background: radial-gradient(var(--shadow-color-low) 26%, var(--color-floor-low) 30%);}
  77%   { background: radial-gradient(var(--shadow-color-low) 27%, var(--color-floor-low) 31%);}
  78%   { background: radial-gradient(var(--shadow-color-low) 28%, var(--color-floor-low) 32%);}
  79%   { background: radial-gradient(var(--shadow-color-low) 29%, var(--color-floor-low) 33%);}
  80%   { background: radial-gradient(var(--shadow-color-low) 30%, var(--color-floor-low) 34%);}
  100%  { background: radial-gradient(var(--shadow-color-low) 30%, var(--color-floor-low) 34%);}
}

@keyframes player-light {
  0% {
    filter: drop-shadow(0 max(-.5vw, -.5vh) min(1vw, 1vh) orange) sepia(.5)
  }
  50% {
    filter: drop-shadow(0 max(-0.25vw, -.25vh) min(.75vw, .75vh) orange) sepia(.5)
  }
  100% {
    filter: drop-shadow(0 max(-.5vw, -.5vh) min(1vw, 1vh) orange) sepia(.5)
  }
}

/* Lighting animation */
@keyframes day {
  0%   {background: rebeccapurple}
  100% {background: lightskyblue}
}
@keyframes night {
  0%   {background: slateblue}
  100% {background: midnightblue}
}
@keyframes sunrise {
  0%   {background: midnightblue}
  100% {background: rebeccapurple}
}
@keyframes sunset {
  0%   {background: lightskyblue}
  100% {background: slateblue}
}

/* Combat Animations */

@keyframes enter-combat {
  0%   { transform: translate(-1000px);}
  100% { transform: translate(0px); }
}

/* Player takes damage and Attack enemy */
@keyframes player-attack-hit {
  0%   { transform: translateX(0px); }
  10%  { transform: translateX(-20px); }
  20%  { transform: translateX(40px); }
  30%  { transform: translateX(0px); }
  60%  { opacity: 1; filter: invert(0%); }
  70%  { opacity: 0; transform: translateX(0px); }
  80%  { opacity: 1; transform: translateX(-10px); filter: invert(70%);}
  90%  { opacity: 0; }
  100% { opacity: 1; transform: translateX(0px); }
}

/* Enemy takes damage and Attack player */
@keyframes enemy-attack-hit {
  0%   { opacity: 1; filter: invert(0%);}
  10%  { opacity: 0; transform: translateX(0px);}
  20%  { opacity: 1; transform: translateX(-10px); filter: invert(70%);}
  30%  { opacity: 0;}
  40%  { opacity: 1; transform: translateX(0px);}
  70%  { transform: translateX(0px); }
  80%  { transform: translateX(-20px); }
  90%  { transform: translateX(40px); }
  100% { transform: translateX(0px); }
}

/* Player avoids the attack and Attack enemy */
@keyframes player-attack-miss {
  0%   { transform: translateX(0px); }
  10%  { transform: translateX(-20px); }
  20%  { transform: translateX(40px); }
  50%  { transform: translateX(0px);}
  60%  { transform: translateX(0px); }
  90%  { transform: translateX(-40px); }
  100% { transform: translateX(0px); }
}

/* Enemy avoids the attack and Attack player */
@keyframes enemy-attack-miss {
  0%   { transform: translateX(0px); }
  10%  { transform: translateX(0px); }
  20%  { transform: translateX(-40px); }
  50%  { transform: translateX(0px); }
  60%  { transform: translateX(-20px); }
  90%  { transform: translateX(40px); }
  100% { transform: translateX(0px); }
}

/* Just player attack the enemy */
@keyframes player-attack {
  0%   { transform: translateX(0px); }
  10%  { transform: translateX(-20px); }
  20%  { transform: translateX(40px); }
  30%  { transform: translateX(0px); }
  100% { transform: translateX(0px); }
}
/* Player takes damage and crit Attack enemy */
@keyframes player-attack-hit-critical {
  0%   { transform: translateX(0px); }
  10%  { transform: translateX(-20px); }
  20%  { transform: translateX(40px); }
  30%  { transform: translateX(0px); }
  60%  { opacity: 1; transform: rotate(-2deg); filter: invert(0%); }
  65%  { transform: rotate(2deg) }
  70%  { opacity: 0; transform: translateX(0px) rotate(-2deg); }
  75%  { transform: rotate(2deg) }
  80%  { opacity: 1; transform: translateX(-20px) rotate(-2deg); filter: invert(70%); }
  85%  { transform: rotate(2deg) }
  90%  { opacity: 0; transform: rotate(-2deg); filter: saturate(100); }
  95%  { transform: rotate(2deg) }
  100% { opacity: 1; transform: translateX(0px) rotate(0); }
}

/* Enemy takes damage and crit Attack player */
@keyframes enemy-attack-hit-critical {
  0%   { opacity: 1; transform: rotate(-2deg); filter: invert(0%);}
  5%  { transform: rotate(2deg) }
  10%  { opacity: 0; transform: translateX(0px) rotate(-2deg); filter: saturate(100);}
  15%  { transform: rotate(2deg) }
  20%  { opacity: 1; transform: translateX(-20px) rotate(-2deg); filter: invert(70%);}
  25%  { transform: rotate(2deg) }
  30%  { opacity: 0; transform: rotate(-2deg); filter: saturate(100); }
  35%  { transform: rotate(2deg) }
  40%  { opacity: 1; transform: translateX(0px) rotate(0); }
  70%  { transform: translateX(0px); }
  80%  { transform: translateX(-20px); }
  90%  { transform: translateX(40px); }
  100% { transform: translateX(0px); }
}

@keyframes player-run {
  0%   { transform: translateX(0px); }
  100% { transform: translateX(-1000px); }
}

@keyframes player-failed-run-dmg {
  0%   { transform: translateX(0px); }
  60%  { opacity: 1; filter: invert(0%); }
  70%  { opacity: 0; transform: translateX(0px); }
  80%  { opacity: 1; transform: translateX(-10px); filter: invert(70%);}
  90%  { opacity: 0; }
  100% { opacity: 1; transform: translateX(0px); }
}

@keyframes enemy-attack-failed-run {
  0%   { transform: translateX(0px); }
  60%  { transform: translateX(-20px); }
  90%  { transform: translateX(40px); }
  100% { transform: translateX(0px); }
}

/* enemy taking the attack */
@keyframes enemy-hit {
  0%   { transform: translateX(0px); }
  30%  { opacity: 1; filter: invert(0%); }
  70%  { opacity: 0; transform: translateX(0px); }
  80%  { opacity: 1; transform: translateX(-10px); filter: invert(70%);}
  90%  { opacity: 0; }
  100% { opacity: 1; transform: translateX(0px); }
}

/* enemy taking crit attack */
@keyframes enemy-hit-critical {
  0%   { transform: translateX(0px) rotate(-2deg); }
  30%  { opacity: 1; transform: rotate(2deg); filter: invert(0%); }
  70%  { opacity: 0; transform: translateX(0px) rotate(-2deg); }
  80%  { opacity: 1; transform: translateX(-10px) rotate(2deg); filter: invert(70%);}
  90%  { opacity: 0; transform: rotate(-2deg)}
  100% { opacity: 1; transform: translateX(0px) rotate(0); }
}

@keyframes bar-down {
  0%   { background: darkseagreen; }
  20%  { background-color: coral; }
  100% { background: darkseagreen; }
}