.bar-container {
  display: flex;
  gap: 8px;
  background: white;
  padding: 2px 2px 2px 8px;
  border-radius: 6px;
}

.bar-container small {
  position: absolute;
  left: .25rem;
  bottom: 5px;
  margin: 0;
  font-size: 1rem;
  /* width: 2ch; */
  font-weight: 700;
  color: darkgreen;
}

.bar small {
  color: white;
  text-shadow: var(--text-outline);
}

.bar-container i {
  color: brown;
  width: 1.5ch;
}

.bar {
  position: relative;
  flex-grow: 1;
  border: solid 2px var(--black);
  position: relative;
  border-radius: 4px;
  background: rgba(255, 255, 255, .5);
}

.bar .bar-fill {
  width: 0;
  background: darkseagreen;
  border-radius: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: width .3s, background 0s;
}