#board-container {
  width: fit-content;
  margin: 0 auto;
}

table#board {
  border-spacing: 0;
  transition: var(--iso-animation-time);
  /* filter: var(--outline-board) */
  /* filter: drop-shadow(0 0 .4em cadetblue); */
}

table#board td {
  position: relative;
  text-align: center;
  padding: 0;
  transition: var(--iso-animation-time);
}

table#board:has(.spawn) td {
  opacity: 0;
  transition: 0;
  animation: show-blocks 1s forwards;
}

table#board td > div:not(#player, .spot) {
  height: 100%;
  width: 100%;
}
