.turn-count {
  position: absolute;
  bottom: 75px;
  right: 8px;
  background: white;
  padding: 4px 12px 8px;
  border-radius: 50px;
}

/* Status Cards */
.player-container, .enemy-container {
  display: grid;
}

.player-container {
  align-items: end;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.enemy-container {
  grid-template-columns: 1fr 1fr;
  align-items: start;
  flex-grow: 1;
}

#enemy-model {
  scale: -1 1;
}

#enemy-model, #player-model {
  margin: auto;
  animation: enter-combat 2s ease forwards;
}

#enemy-model img, #player-model img { height: min(50vw, 30vh); }

#enemy-stats, #player-stats {
  padding: 1em 1em 0.5em 1em;
  height: fit-content;
  width: 70%;
}

#enemy-stats {
  border-radius: 0 0 8px 0;
  background-color: salmon;
  box-shadow: 1px 1px 0 1px brown, 2px 2px 0 2px var(--black);
}

#player-stats {
  border-radius: 8px 0 0 0;
  background-color: mediumturquoise;
  box-shadow: -1px -1px 0 1px darkcyan, -2px -2px 0 2px var(--black);
}

.enemy-container:has(.damage:not(:empty)) #enemy-stats .bar-container .bar .bar-fill {
  animation: bar-down .5s forwards;
}

.player-container:has(.damage:not(:empty)) #player-stats .bar-container .bar .bar-fill {
  animation: bar-down .5s forwards .5s;
}


.job {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
  width: fit-content;
}

.modal-content-cty .job {
  background: rgba(255, 255, 255, .7);
  padding: 5px;
  padding-right: 12px;
  margin-left: auto;
  margin-top: 6px;
  border-radius: 50px;
}

.job img {
  height: 20px;
  background: white;
  border-radius: 50%;
}

.job p {
  margin: 0;
  font-size: .8em;
}

/* Animations */
.atk-hit, .atk-miss {
  animation-duration: var(--turn-animation-time);
}

.player-atk, .enemy-hit {
  animation-duration: calc(var(--turn-animation-time)/2);
}

/* Attack */
/* Player takes damage and Attack enemy */
#player-model .atk-hit { animation-name: player-attack-hit; }

/* Enemy takes damage and Attack player */
#enemy-model .atk-hit { animation-name: enemy-attack-hit; }

/* Player avoid the attack and Attack enemy */
#player-model .atk-miss { animation-name: player-attack-miss; }

/* Enemy avoid the attack and Attack player */
#enemy-model .atk-miss { animation-name: enemy-attack-miss; }

/* Critical */
#player-model .atk-hit.critical { animation-name: player-attack-hit-critical; }

#enemy-model .atk-hit.critical { animation-name: enemy-attack-hit-critical; }

/* #player-model .atk-miss.critical { animation-name: player-attack-miss-critical; }

#enemy-model .atk-miss.critical { animation-name: enemy-attack-miss-critical; } */

/* run */
#player-model .run { 
  animation: player-run 2s forwards;
}

#player-model .run-failed {
  animation: player-failed-run-dmg calc(var(--turn-animation-time)/2);
}

#enemy-model .run-failed {
  animation: enemy-attack-failed-run calc(var(--turn-animation-time)/2);
}

.player-atk { animation-name: player-attack; }

.enemy-hit { animation-name: enemy-hit; }

#enemy-model .enemy-hit.critical { animation-name: enemy-hit-critical; }

#enemy-model p {
  transform: scaleX(-1);
}

#enemy-model, #player-model {
  position: relative;
}

#enemy-model p, #player-model p {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 900;
  top: -15%;
  left: 50%;
  text-shadow: var(--text-outline);
  transition: calc(var(--turn-animation-time)/3) ease-in-out;
}

#enemy-model p.damage, #player-model p.damage {
  color: crimson;
  text-shadow: var(--text-outline-white);
}

#enemy-model p:empty, #player-model p:empty {
  opacity: 0;
  top: 0;
  transition: calc(var(--turn-animation-time)/3) ease-in-out;
}

#player-model p {
  transition-delay: calc(var(--turn-animation-time)/2);
}

/* combat menu */
.modal-footer-cty button {
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: .5rem .75rem;
  color: var(--black);
}
.modal-footer-cty button:hover {
  box-shadow: inset 0 0 0 2px var(--black), 0 0 0 2px white;
}