.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.victory-icon {
  background-color: gold;
  fill: orange;
  border-color: orange;
}

.lose-icon {
  fill: mediumpurple;
  border-color: mediumpurple;
}