#menu {
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: gainsboro;
  padding: 1em;
  border-radius: calc(var(--border-radius) * 2);
  z-index: 998;
  box-shadow: inset 0 0 0 4px var(--black);
  display: grid;
  gap: 12px;
}

#menu .bar-fill {
  transition-delay: .5s;
}

#menu .bar-container:first-child {
  margin-bottom: 4px;
}

#menu hr {
  margin-bottom: 1em;
}

#menu .stats-title {
  color: var(--black);
  background: white;
  text-align: center;
  width: 100%;
  padding: 4px 0;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 700;
}

#menu .stats-title:hover {
  box-shadow: inset 0 0 0 2px;
  cursor: pointer;
}

#menu .stats-title.points-available {
  background-color: gold;
  color: var(--black);
}

#menu :has(.points-available) .plus-btn {
  display: contents;
}

#menu .expand {
  box-shadow: inset 0 0 0 2px white;
  border-radius: 4px;
  overflow: hidden;
}

#menu .expand .stats-title {
  border-radius: 4px 4px 0 0;
  color: var(--black);
  background-color: white;
}

#menu .stats-table {
  width: 100%;
  border-spacing: 0;
}

#menu .job {
  padding-bottom: 4px;
  border-bottom: solid 2px;
}

#menu .job p {
  font-size: 1.2rem;
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  gap: 3px;
}

#menu .job small {
  text-transform: lowercase;
}

#menu .job p .lvl-number {
  font-size: 1.5em;
  line-height: 3px;
}

#menu tr:nth-child(even) {
  background: white;
}

#menu .stats-table th div {
  text-align: start;
  padding: 4px 0 4px 8px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#menu .stats-table td div {
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

#menu .stats-table p {
  margin: 0;
  font-size: 1.2em;
}

#menu .stats-table {
  display: none;
}

#menu .expand .stats-table,
#menu:has(.points-available) .stats-table {
  display: table;
}

#menu .plus-btn {
  padding: 0;
  margin: 0;
  border: none;
  color: gray;
  background: transparent;
  cursor: pointer;
  display: none;
}

#menu .plus-btn:hover i {
  color: tomato;
  scale: 1.2;
  transition: .3s;
}

#menu .plus-btn:disabled {
  display: none;
}

.floor-display {
  position: absolute;
  top: 1em;
  right: 1em;
  margin: 0;
  font-size: 1.5em;
  background: var(--black);
  padding: 0.25em 0.75em;
  color: white;
  border-radius: 50px;
}
