.iso #player {
  transform: rotateX(0deg) rotateZ(45deg) rotateY(0deg) scaleX(1.4) translateX(-50%);
  /* box-shadow: 0 0 0 var(--outline) dimgray, inset -.1em .1em .5em .2em lightgreen; */
  box-shadow: 0 0 0 var(--outline) dimgray, inset -0.05em 0.05em 0.15em 0.1em lightgreen;
  transition: transform var(--iso-animation-time), box-shadow var(--iso-animation-time);
}

#player {
  width: var(--player-size);
  height: var(--player-size);
  box-shadow: 0 0 0 var(--outline) dimgray, inset 0 0 .5em .2em lightgreen;
  margin: 0 auto;
  border-radius: 50%;
  background: var(--player-color);
  position: relative;
  z-index: 1;
  transition: transform var(--iso-animation-time);
}
