.swal2-popup {
  width: fit-content;
  min-width: 280px;
  background: whitesmoke;
  border-radius: 16px;
  box-shadow: inset 0 0 0 3px whitesmoke, inset 0 0 0 6px;
}

.swal2-cancel,
.swal2-confirm {
  border-radius: 8px;
}

.swal2-cancel {
  background-color: brown;
}

.swal2-confirm {
  background-color: darkolivegreen;
}

/* New game modal */

.swal2-popup #new-game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.swal2-popup #new-game-class-img-container {
  /* background: linear-gradient(-60deg, peru 10%, transparent 23%, lightyellow, peru 49%, sienna, peru 80%, transparent) burlywood; */
  background: burlywood;
  border-radius: 16px;
  padding: 2rem 1rem 0;
  box-shadow: inset 0 0 0 6px #6a410c;
}

.swal2-popup #new-game-class-img {
  height: 160px;
  width: 160px;
  /* background: radial-gradient(burlywood 47%,wheat 47%, wheat 50%, transparent 50%); */
  background: radial-gradient(wheat 50%, transparent 50%);
  /* filter: sepia(.3); */
}

.swal2-popup #new-game-class-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #6a410c;
  margin: 1rem 0;
}

.swal2-popup #new-game-class-container {
  display: grid;
  grid-template-columns: min(15vw, 64px) min(15vw, 64px) min(15vw, 64px);
  grid-template-rows: min(15vw, 64px) min(15vw, 64px) min(15vw, 64px);
  gap: 1rem;
  margin: auto;
}

.swal2-popup #new-game-class-container label input {
  display: none;
}

.swal2-popup #new-game-class-container label {
  display: block;
  border-radius: 100px;
  min-height: min(15vw, 64px);
  width: 100%;
  opacity: .3;
  filter: invert(1);
}

.swal2-popup #new-game-class-container label:has(input:checked) {
  box-shadow: 0 0 0 4px darkorange;
  opacity: 1;
  filter: invert(0);
}

.swal2-popup {
  background-color: whitesmoke;
}

.swal2-popup:has(.swal2-icon:empty) {
  background-color: darkkhaki;
}

.swal2-popup:has(.hard-mode-btn) img {
  filter: sepia(1);
}

.swal2-popup .hard-mode-btn input {
  display: none;
}

.swal2-popup .hard-mode-btn {
  display: block;
  padding: 1rem 2rem;
  box-shadow: inset 0 0 0 2px;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem auto 0;
  width: fit-content;
  opacity: .3;
  transition: .3s;
}

.swal2-popup:has(.hard-mode-btn input:checked) {
  color: white;
  background: brown;
}

.swal2-popup:has(.hard-mode-btn input:checked) img {
  filter: none;
}

.swal2-popup .hard-mode-btn:has(:checked) {
  opacity: 1;
  color: var(--black);
  box-shadow: none;
  background: white;
  transition: .3s;
}

.swal2-html-container {
  overflow: hidden;
}

.swiper {
  margin: 10px 30px 0;
  width: 180px;
  height: 300px;
}

.swiper-slide {
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr;
  background: burlywood;
  background-size: 80%; 
  background-repeat: no-repeat; 
  background-position: center;
  border-radius: 16px;
  box-shadow: inset 0 0 0 4px #6a410c, inset 0 0 0 8px chocolate;
  filter: sepia(.5);
}

.swiper-slide p {
  text-transform: capitalize;
  font-size: 1.3rem;
  background: #6a410c;
  box-shadow: inset 0px 4px 0 0px #6a410c, inset 0 0 0 4px chocolate;
  color: white;
  padding: .7rem 1.2rem 1rem;
  margin: 0 auto;
  border-radius: 0 0 16px 16px;
}

.swiper-slide img {
  width: 80%;
  margin: auto auto 1.5rem;
}

.swiper-slide input[type=radio] {
  display: none;
}