.trunk-tree {
  background-color: sienna;
  box-shadow: inset 0 0 0 0.1em sienna, inset 0 -0.5em 0.5em 0 rosybrown;
  width: 20% !important;
  height: 20% !important;
  border-radius: 100vh;
  position: absolute;
  top: 40%;
  right: 40%;
  transition: var(--iso-animation-time);
}

.iso .trunk-tree {
  transform: rotate(-45deg) translateX(-40%);
  width: 15% !important;
  height: 100% !important;
  top: -30%;
  right: 65%;
  transition: var(--iso-animation-time);
}

.tree .top-tree {
  z-index: 1;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: olive;
  box-shadow: inset -0.2em -0.2em 0 0 darkolivegreen, 0 0 0 var(--outline) darkolivegreen;
  position: absolute;
  top: 15%;
  right: 15%;
  transition: var(--iso-animation-time);
}

.iso .tree .top-tree {
  width: 70%;
  height: 70%;
  top: 30%;
  right: 0%;
  /* box-shadow: inset -0.3em -0.3em 0 0 darkolivegreen, inset -1em -1em 0 1em olive, 0 0 0 var(--outline) darkolivegreen; */
  box-shadow: inset -0.3em -0.3em 0 0 darkolivegreen, 0 0 0 var(--outline) darkolivegreen;
  transform: translate(-70%, -70%);
  border-radius: 50% 75% 75% 75%;
  transition: var(--iso-animation-time);
}

td:has(.tree):has(#player) .floor,
td:has(.tree) .floor {
  background: radial-gradient(var(--shadow-color) 40%, lightgreen 60%);
  transition: var(--iso-animation-time);
}

td:has(#player) .tree {
  position: relative;
  z-index: 1;
  opacity: .5;
}

.iso td:has(#player) .tree {
  z-index: 0;
  opacity: 1;
}

td:has(.tree) #player {
  position: absolute;
  top: 50%;
  right: 20%;
}

.iso td:has(.tree) #player {
  top: 50%;
  right: 20%;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(0deg) scaleX(1.4) translateX(5%);
  transition: var(--iso-animation-time);
}

.iso .tree i {
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 0%;
  transform: rotate(-45deg) scaleY(1.5);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: crimson;
  color: white;
  opacity: 0;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iso td:has(#player) .tree i {
  transform: translate(-200%, -200%) rotate(-45deg) scaleY(1.5);
  animation: heart-show 1s forwards;
}
