.trunk-tree {
  background-color: sienna;
  box-shadow: inset 0 0 0 0.1em sienna, inset 0 -0.5em 0.5em 0 rosybrown;
  width: 20% !important;
  height: 20% !important;
  border-radius: 100vh;
  position: absolute;
  top: 40%;
  right: 40%;
  transition: var(--iso-animation-time);
}

.iso .trunk-tree {
  transform: rotate(-45deg) translateX(-40%);
  width: 15% !important;
  height: 50% !important;
  top: 12.5%;
  right: 45%;
  transition: var(--iso-animation-time);
}

.tree .top-tree {
  z-index: 1;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: olive;
  box-shadow: inset -0.2em -0.2em 0 0 darkolivegreen, 0 0 0 var(--outline) darkolivegreen;
  position: absolute;
  top: 15%;
  right: 15%;
  transition: var(--iso-animation-time);
}

.iso .tree .top-tree {
  width: 70%;
  height: 70%;
  top: 30%;
  right: 0%;
  /* box-shadow: inset -0.3em -0.3em 0 0 darkolivegreen, inset -1em -1em 0 1em olive, 0 0 0 var(--outline) darkolivegreen; */
  box-shadow: inset -0.3em -0.3em 0 0 darkolivegreen, 0 0 0 var(--outline) darkolivegreen;
  transform: translate(-70%, -70%);
  border-radius: 50% 75% 75% 75%;
  transition: var(--iso-animation-time);
}

.tree .top-tree .fruit {
  font-size: min(3vw, 1rem);
  height: 25%;
  width: 25%;
  color: firebrick;
  position: absolute;
  top: 30%;
  right: 15%;
  border-radius: 3rem;
  transition: .3s;
}

.iso .tree .top-tree .fruit {
  text-shadow: 0px 2px maroon;
  transform: skew(15deg) rotate(-40deg);
}

td:has(.tree):has(#player) .floor,
td:has(.tree) .floor {
  background: radial-gradient(var(--shadow-color) 40%, lightgreen 60%);
  transition: var(--iso-animation-time);
}

td:has(#player) .tree {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

td:has(#player) .top-tree,
td:has(#player) .trunk-tree {
  opacity: .5;

}

.iso td:has(#player) .tree {
  z-index: 0;
  opacity: 1;
}

td:has(.tree) #player {
  position: absolute;
  top: 30%;
  right: 20%;
}

.iso td:has(.tree) #player {
  top: 30%;
  right: 20%;
  transform: rotateX(0deg) rotateZ(-45deg) rotateY(0deg) scaleY(1.4) translateY(5%);
  transition: var(--iso-animation-time);
}

.tree i:not(.fruit) {
  align-content: center;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: crimson;
  color: white;
  opacity: 0;
  transition: transform .3s;
}

.iso .tree i:not(.fruit) {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: rotate(-45deg) scaleY(1.5);
}

.iso td:has(#player) .tree i:not(.fruit) {
  transform: translate(-200%, -200%) rotate(-45deg) scaleY(1.5);
  animation: heart-show-iso 1s forwards;
}

td:has(#player) .tree i:not(.fruit) {
  animation: heart-show 1s forwards;
}